<div class="container-fluid">
    <div class="row">
        <button class="btn btn-info pull-left" id="back"><b>&lt;</b></button>
    </div>
</div>
<br /><br />
<div id="sensorData" class="container-fluid">
    
</div>