<div class="form">
    <div class="form-group">
        <label for="topic-name">Topic Name<h6>(Should be unique)</h6></label>
        <input id="topic-name" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="form-type">Select Form Type</label>
        <select id="form-type" class="form-control">
            <option id="mqtt-continuous" class="form-control">MQTT Receiver</option>
            <option id="can-emulation" class="form-control">CAN Emulation</option>
        </select>
    </div>
    <div class="form-group">
        <center>
            <button id="loadForm" class="btn btn-danger"><b>Load Form &gt;&gt;</b></button>
        </center>
    </div>
</div>